@charset "UTF-8";

/*サンプルを確認する＞:url(../sample_styles.html#font)*/


/*フォントに適用するカラーの設定*/

.c_00 {
	color: #595E62 ;
}

.c_01 {
	color: #595E62 ;
}

.c_02 {
	color: #D92C49 ;
}

.c_03 {
	color: #2C65D9 ;
}

.c_04 {
	color: #3399cc ;
}

.c_05 {
	color: #FC8684 ;
}

.c_06 {
	color: #32B165 ;
}



/*フォントに適用するサイズの設定*/

/*ミドルサイズ：全体（*）の設定もここで行う。*/

* ,
.s_m {
	font-size : medium ;
}

/*極小サイズ*/

.s_ss {
	font-size : x-small ;
}

/*小サイズ*/

.s_s {
	font-size : small ;
}

/*大サイズ*/

.s_l {
	font-size : large ;
}

/*極大サイズ*/

.s_ll {
	font-size : x-large ;
}

/*フォントに適用する太さの設定*/

.b_n {
	font-weight: normal ;
}

.b_b {
	font-weight: bold ;
}

/*その他汎用font関連*/

.caution {
	color: #ff0000 ;
}

.impact {
	font-size: 110% ;
	font-weight: bold ;
}


